<ul>
  <% @glamping_sets.each do |glamping_set| %>
    <li><%= glamping_set.name %></li>
    <%# <li><%= glamping_set.description %></li>
    <%# <li><%= glamping_set.total_occupancy %></li> %>
    <%# <li><%= glamping_set.price %></li> %> %>
  <% end %>
</ul>
