<ul>
  <% @glamping_sets.each do |glamping_set| %>
    <div class="card">
      <img url="https://images.unsplash.com/photo-1624254495476-db6cc8b77e98?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435" alt="photo" style="width:100%">
      <h3><%= glamping_set.name %></h3>
      <h3><%= glamping_set.price_per_night %></h3>
      <p><%= glamping_set.description %></p>
    </div>
  <% end %>
</ul>


<%
=begin%>

<ul>
  <% @glamping_sets.each do |glamping_set| %>
    <li><%= link_to glamping_set.name, glamping_set_path(glamping_set) %></li>
  <% end %>
</ul>


<%
=end%>
