.container-show {
  display: flex;
  background-color: red;
  padding-top: 80px;
  flex-direction: row;
}

.image-show {
  display: flex;
  // padding-top: 50px;
  border: 2px solid black;
  background-color: blue;
  margin: 5px;

}

.description-show {
  // padding-top: 50px;
  display: flex;
  border: 2px solid black;
  background-color: green;
  margin: 5px;
  flex-direction: column;
}
