.body-show{

background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.ytimg.com/vi/dp6V4CfGLu4/maxresdefault.jpg);
height: 720px;

}

.main-container{
  color:whitesmoke;
  text-align: center;
  border: 2px solid black;
  background-color: rgba(175, 196, 181,0.4);
  height: 528px;
  max-width: 400px;
  border-radius: 5px;
  margin-bottom: 25px;
  margin: 0 auto;
}

.delete-button1{
  color:whitesmoke;
}
