.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Roboto';
  position: sticky !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-home {
background: transparent;
position: fixed !important;
color: white;
  a.nav-link {
    color: white !important;
  }
}
